#logo-main { background: url() no-repeat center top; }

#header { background: url() repeat scroll #3eafc1;}

.about-matt{ background: url() no-repeat center; }

#email-contact { background: url() no-repeat center 15px;}

#twitter-contact {background: url() no-repeat center top;}

#dribbble-contact { background: url() no-repeat center 12px;}

#facebook-contact { background: url() no-repeat center top; }

h4#icons.portfolio-title { background-image: url();}