
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.buy-link a, .buy-link p {
    color: #3eafc1;
}
a:active, a:hover {
    outline: 0;
    text-decoration: none;
}
sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
button, input {
    overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
body {
    margin: 0;
    color: #597379;
    background-color: #fff;
    font: 16px 'RobotoDraft','Roboto', Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #E2E9EF;
    text-decoration: none;
}
#portfolio-section-interior a {
    color: #3eafc1;
}
a:hover {
    color: #778A97;
    text-decoration: none;
}

#portfolio-section-interior a:hover {
    background-color: #fffea7;
    text-decoration: none;
}
#about-section a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #D83F38;
    text-decoration: underline;
}
#about-section a:hover {
    color: #E2E9EF;
    text-decoration: none;
}
#port-buy-link a {
    font-weight: 500;
    color: #3eafc1;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'RobotoDraft','Roboto', Helvetica, Arial, sans-serif;
    line-height: 36px;
    font-weight: 300;
    font-style: normal;
}
h2#matt-title {
    color: #fff;
    line-height: 25px;
}
h2.about-name {
    text-align: center;
    margin-bottom: 10px;
}
blockquote {
    margin: 0;
    padding: 0 0 10px;
    font: 39px/45px 'RobotoDraft','Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #fff;
}
blockquote span {
    font-size: 20px;
    font-style: italic;
    color: #21434c;
}
#about-section .row .span6 .row .span2 {
    margin-bottom: 0;
}
.row {
    margin-left: -40px;
}
.row:after, .row:before {
    display: table;
    content: ""}
.row:after {
    clear: both;
}
[class*=span] {
    margin-left: 40px;
    float: left;
}
.container, .navbar-fixed-bottom .container, .navbar-fixed-top .container {
    width: 1000px;
}
.span8 {
    width: 1000px;
    text-align: center;
}
.span7 {
    width: 870px;
}
.span6 {
    width: 566px;
}
.span5 {
    width: 610px;
}
.span4 {
    width: 480px;
}
.span3 {
    width: 350px;
}
.span2 {
    width: 25%}
.span1 {
    width: 90px;
}
.offset8 {
    margin-left: 1080px;
}
.offset7 {
    margin-left: 950px;
}
.offset6 {
    margin-left: 820px;
}
.offset5 {
    margin-left: 690px;
}
.offset4 {
    margin-left: 560px;
}
.offset3 {
    margin-left: 430px;
}
.offset2 {
    margin-left: 300px;
}
.offset1 {
    margin-left: 170px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:after, .row-fluid:before {
    display: table;
    content: ""}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*=span] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.127659574%;
    *margin-left: 2.077659574%}
.row-fluid [class*=span]:first-child {
    margin-left: 0;
}
.row-fluid .span8 {
    width: 65.95744680199999%;
    *width: 65.907446802%}
.row-fluid .span7 {
    width: 57.446808505%;
    *width: 57.396808505%}
.row-fluid .span6 {
    width: 48.93617020799999%;
    *width: 48.886170207999996%}
.row-fluid .span5 {
    width: 40.425531911%;
    *width: 40.375531911%}
.row-fluid .span4 {
    width: 31.914893614%;
    *width: 31.864893614%}
.row-fluid .span3 {
    width: 23.404255317%;
    *width: 23.354255317%}
.row-fluid .span2 {
    width: 14.89361702%;
    *width: 14.84361702%}
.row-fluid .span1 {
    width: 6.382978723%;
    *width: 6.332978723%}
.container {
    margin-right: auto;
    margin-left: auto;
}
.container:after, .container:before {
    display: table;
    content: ""}
.container:after {
    clear: both;
}
.container-fluid {
    padding-right: 40px;
    padding-left: 40px;
}
.container-fluid:after, .container-fluid:before {
    display: table;
    content: ""}
.container-fluid:after {
    clear: both;
}
#header {
    background: #34495E;
}
#header-container {}
.hero-unit {
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.hero-unit p {
    display: block;
    max-width: 780px;
    padding: 25px;
    font: 400 25px/40px 'RobotoDraft','Roboto', Helvetica, Arial, sans-serif;;
    margin: 0 auto;
    color: #E2E9EF;
}
.hero-unit a {
    color: #fff;
}
.hero-unit a:hover {
    color: #E2E9EF;
}
#logo-main a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#logo-main a:hover {
    color: #fff;
}

div.hero-unit h2 {
    font-family: 'RobotoDraft','Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top: 25px;
    color: #ffffff;
    font-size: 1.5em;
}

.hidden {
    display: none;
    visibility: hidden;
}

.hidden-desktop, .visible-phone, .visible-tablet {
    display: none!important;
}

h2.section-title {
    text-align: center;
    color: #40b1c4;
    padding-bottom: 0;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}
a#about, a#about:hover, h2.section-title a {
    color: #40b1c4;
    text-decoration: none;
}
a.main-btn {
    padding: 10px 20px;
    font: 300 15px kulturista-web, Georgia, Times, sans-serif;
    background-color: #fffea7;
    color: #40b1c4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a.main-btn:hover {
    text-decoration: none;
    color: #fffea7;
    background-color: #E2E9EF;
}
a h4.portfolio-title {
    text-align: center;
    height: 200px;
    color: #E2E9EF;
    -webkit-border-radius:  4px;
    -moz-border-radius:  4px;
     border-radius:  4px ;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 0 auto 30px;
    width: 200px;
}
a h4.portfolio-title span {
    display: block;
    top: 160px;
    position: relative;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
a:hover h4.portfolio-title {
    color: #fff;
    text-decoration: none;
    border-style: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center !important;
}
a:hover h4.portfolio-title span {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    border-style: none;
    outline: 0;
}
h4#express-pigeon.portfolio-title {
    background-image: url(img/express-pigeon.svg);
     background-position: center;
}
h4#closet-wardrobe-you.portfolio-title {
    background-image: url(img/closet-wardrobe-you.svg);
     background-position: center;
}
h4#measured-marketing.portfolio-title {
    background-image: url(img/measured-marketing.svg);
     background-position: center;
}
h4#life-stock.portfolio-title {
    background-image: url(img/life-stock.svg);
     background-position: center;
}
h4#azadi.portfolio-title {
    background-image: url(img/azadi.svg);
    background-position: center;
}
h4#creators-and-curators.portfolio-title {
    background-image: url(img/creators-and-curators.svg);
    background-position: center;
}
h4#creative-go-round.portfolio-title {
    background-image: url(img/creative-go-round.svg);
}
h4#space519.portfolio-title {
    background-image: url(img/space519.svg);
    background-position: center;
}
h4#tedxdepaulu.portfolio-title {
    background-image: url(img/tedxdepaulu.svg);
}
h4#squareup.portfolio-title {
    background-image: url(img/squareup.svg);
}
h4#lends.portfolio-title {
    background-image: url(img/lends.svg);
    background-position: center;
}
h4#timeless-grace.portfolio-title {
    background-image: url(img/timeless-grace.svg);
}
h3.about-name {
    color: #3eafc1;
    margin-top: 0;
    text-align: left;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
h4.about-title {
    color: #688488;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    margin-top: 0;
    text-align: center;
}
.about-matt {
    width: 220px;
    height: 200px;
    text-indent: -9999px;
    background: url(img/matt-helbig.png) center -10px no-repeat;
     -webkit-animation: fadeUp 500ms ease;
    -moz-animation: fadeUp 500ms ease;
    -o-animation: fadeUp 500ms ease;
    -ms-animation: fadeUp 500ms ease;
    animation: fadeUp 500ms ease;
}
.about-generic {
    text-align: center;
    margin-top: 0;
    border-top: 2px dotted #dcf1f4;
    padding-top: 60px;
}
#portfolio-section {
    padding-top: 80px;
    padding-bottom: 10px;
}
#shop-section {
    margin-bottom: 0;
    background: #fffeb3;
}
#about-section {
    background: #34495E;
    background-repeat: repeat-x;
    background-position: 0 0;
    padding-bottom: 0;
    color: #E2E9EF;
}
#portfolio-section-interior {
    padding-top: 40px;
    margin-bottom: 40px;
}
#footer-row {
    margin-top: 10px;
    margin-bottom: 20px;
}
footer {
    padding-top: 40px;
    background-color: #3F5468;
}
footer p {
    color: #E2E9EF;
}
footer h2, footer h2 a, footer h3 {
    color: #fff;
}
ul#contact-social {
    padding-left: 0;
    list-style: none;
    padding-top: 20px;
}
body {
    -webkit-text-size-adjust: 100%}
#contact-social li a {
    font-family: 'RobotoDraft','Roboto', Helvetica, Arial, sans-serif;;
    color: #E2E9EF;
    margin-bottom: 20px;
    display: block;
    width: 150px;
    float: left;
    text-align: center;
}
#dribbble-contact, #email-contact, #instagram-contact, #linkedin-contact, #soundcloud-contact, #twitter-contact {
    padding-top: 60px;
    width: 90px;
    text-align: center;
    margin-top: 15px;
    float: left;
}
#email-contact {
    background: url(img/email.svg) no-repeat center 2px;
}
#twitter-contact {
    background: url(img/twitter.svg) center 2px no-repeat;
}
#dribbble-contact {
    background: url(img/dribbble.svg) no-repeat center 2px;
}
#linkedin-contact {
    background: url(img/linkedin.svg) center 2px no-repeat;
}
#instagram-contact {
    background: url(img/instagram.svg) center 2px no-repeat;
}
.portfolio-title-details {
    text-align: center;
}
::selection {
    background-color: #fffea7;
}
::-moz-selection {
    background-color: #fffea7;
}
::-webkit-selection {
    background-color: #fffea7;
}
.hero-unit p::selection {
    background-color: #E2E9EF;
    color: #fff;
}
.hero-unit p::-moz-selection {
    background-color: #E2E9EF;
    color: #fff;
}
.hero-unit p::-webkit-selection {
    background-color: #E2E9EF;
    color: #fff;
}
footer p::selection {
    background-color: #22444d;
    color: #fff;
}
footer p::-moz-selection {
    background-color: #22444d;
    color: #fff;
}
footer p::-webkit-selection {
    background-color: #22444d;
    color: #fff;
}
div#wufoo-w7x3k1 {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.span6.offset1 p {
    text-align: left;
}
#about-section .span6 .span6 {
    margin-bottom: 10px;
}
ul.about-lists {
    padding: 0;
    list-style-type: none;
}
ul.about-lists li {
    padding-bottom: 10px;
}
h1.portfolio-header {
    font-size: 21px;
    color: #fff;
}
h1.portfolio-header span {
    font-size: 15px;
    color: #21434c;
    font-style: italic;
}
ul#port-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'RobotoDraft','Roboto', Helvetica, Arial, sans-serif;;
}
ul#port-nav li {
    padding-right: 20px;
    display: inline;
}
ul#port-nav li a {
    padding: 30px 10px 30px 1px;
}
a.home-nav {
    border-style: none;
}
@media (max-width:767px) {
    .visible-phone {
    display: inherit!important;
}
.hidden-phone {
    display: none!important;
}
.hidden-desktop {
    display: inherit!important;
}
.visible-desktop {
    display: none!important;
}

.nav-container{padding-top:30px}

}

@media (min-width:768px) and (max-width:979px) {
    .visible-tablet {
    display: inherit!important;
}
.hidden-tablet {
    display: none!important;
}
.hidden-desktop {
    display: inherit!important;
}
.visible-desktop {
    display: none!important;
}
}

@media (max-width:480px) {
    .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0);
}
.page-header h1 small {
    display: block;
    line-height: 18px;
}
input[type=checkbox], input[type=radio] {
    border: 1px solid #ccc;
}
.form-horizontal .control-group>label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
}
.form-horizontal .controls {
    margin-left: 0;
}
.form-horizontal .control-list {
    padding-top: 0;
}
.form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
}
.modal {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
}
.modal.fade.in {
    top: auto;
}
.modal-header .close {
    padding: 10px;
    margin: -10px;
}
.carousel-caption {
    position: static;
}
.span2, .span2.offset1, .span2.offset2, .span3, .span3.offset1, .span4, .span4.offset2, .span6, .span6.offset1, .span8 {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
a h4.portfolio-title {
    margin-bottom: 60px;
}
}

@media (max-width:520px) {
    .span2, .span2.offset2, .span3, .span3.offset1, .span4, .span4.offset2, .span6, .span6.offset1 .span2.offset1, .span8 {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
a h4.portfolio-title {
    margin-bottom: 60px;
}
}

@media (max-width:767px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
    margin-left: -20px;
    margin-right: -20px;
}
.container-fluid {
    padding: 0;
}
.dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
}
.dl-horizontal dd {
    margin-left: 0;
}
.container {
    width: auto;
}
.row-fluid {
    width: 100%}
.row, .thumbnails {
    margin-left: 0;
}
.row-fluid [class*=span], [class*=span] {
    display: block;
    margin-bottom: 30px;
}
.input-large, .input-xlarge, .input-xxlarge, .uneditable-input, input[class*=span], select[class*=span], textarea[class*=span] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.input-append input, .input-append input[class*=span], .input-prepend input, .input-prepend input[class*=span] {
    display: inline-block;
    width: auto;
}
.span2, .span3, .span4, .span6 {
    width: 300px;
}

.about-matt {width: 300px;}

.span6.offset1 {
    width: 65%;
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.span4 .row .span2 {
    margin-left: 0;
}
.offset1, .offset2 {
    margin-left: 40px;
}
.span1 {
    width: 61px;
}
#social-icons-container {
    left: auto;
    padding-right: 30px;
    padding-left: 60px;
}
.span8 {
    width: 80%}
class*="span"] {
    float: left;
    margin-left: 0;
    margin-bottom: 40px;
}
.hero-unit {
    padding-right: 15px;
    padding-left: 15px;
}
div.row div.span6 div.row div.span2 {
    margin-left: 0;
}
.span1.offset1, .span2.offset1, .span3, .span3.offset1, .span4.offset2 {
    margin-right: auto;
    margin-left: auto;
    float: none;
}
div.row div.span6 div.row div.span6 {
    margin-left: 0;
    padding-bottom: 20px;
}
ul#port-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul#port-nav li {
    padding-right: 0;
    display: block;
}
ul#port-nav li a {
    padding: 0 0 10px;
    display: block;
}
}

@media (min-width:768px) and (max-width:979px) {
    .row {
    margin-left: -40px;
}
.row:after, .row:before {
    display: table;
    content: ""}
.row:after {
    clear: both;
}
[class*=span] {
    float: left;
    margin-left: 40px;
    margin-bottom: 40px;
}
.container, .hero-unit, .navbar-fixed-bottom .container, .navbar-fixed-top .container, .span8 {
    width: 688px;
}
.span7 {
    width: 597px;
}
.span6 {
    width: 506px;
}
.span5 {
    width: 415px;
}
.span4 {
    width: 324px;
}
.span3 {
    width: 233px;
}
.about-matt, .span2 {
    width: 142px;
}
.span1 {
    width: 51px;
}
.offset8 {
    margin-left: 768px;
}
.offset7 {
    margin-left: 677px;
}
.offset6 {
    margin-left: 586px;
}
.offset5 {
    margin-left: 495px;
}
.offset4 {
    margin-left: 404px;
}
.offset3 {
    margin-left: 313px;
}
.offset2 {
    margin-left: 242px;
}
.offset1 {
    margin-left: 131px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:after, .row-fluid:before {
    display: table;
    content: ""}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*=span] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.762430939%;
    *margin-left: 2.7124309390000003%}
.row-fluid [class*=span]:first-child {
    margin-left: 0;
}
.row-fluid .span8 {
    width: 65.74585634900001%;
    *width: 65.69585634900001%}
.row-fluid .span7 {
    width: 57.182320438000005%;
    *width: 57.13232043800001%}
.row-fluid .span6 {
    width: 48.618784527%;
    *width: 48.568784527000005%}
.row-fluid .span5 {
    width: 40.055248616%;
    *width: 40.005248616%}
.row-fluid .span4 {
    width: 31.491712705%;
    *width: 31.441712705%}
.row-fluid .span3 {
    width: 22.928176794%;
    *width: 22.878176793999998%}
.row-fluid .span2 {
    width: 14.364640883%;
    *width: 14.314640883%}
.row-fluid .span1 {
    width: 5.801104972%;
    *width: 5.751104972%}
.uneditable-input, input, textarea {
    margin-left: 0;
}
.uneditable-input.span8, input.span8, textarea.span8 {
    width: 466px;
}
.uneditable-input.span7, input.span7, textarea.span7 {
    width: 404px;
}
.uneditable-input.span6, input.span6, textarea.span6 {
    width: 342px;
}
.uneditable-input.span5, input.span5, textarea.span5 {
    width: 280px;
}
.uneditable-input.span4, input.span4, textarea.span4 {
    width: 218px;
}
.uneditable-input.span3, input.span3, textarea.span3 {
    width: 156px;
}
.uneditable-input.span2, input.span2, textarea.span2 {
    width: 94px;
}
.uneditable-input.span1, input.span1, textarea.span1 {
    width: 32px;
}
a h4.portfolio-title {
    height: 142px;
    width: 142px;
}
a h4.portfolio-title span {
    display: block;
    top: 142px;
    position: relative;
    padding: 10px;
    font-size: 14px;
}
a:hover h4.portfolio-title {
    background-position: center center;
}
}

@media (min-width:980px) {
    .row {
    margin-left: -40px;
}
.row:after, .row:before {
    display: table;
    content: ""}
.row:after {
    clear: both;
}
[class*=span] {
    float: left;
    margin-left: 40px;
    margin-bottom: 40px;
}
.container, .hero-unit, .navbar-fixed-bottom .container, .navbar-fixed-top .container, .span8 {
    width: 1000px;
}
.span7 {
    width: 870px;
}
.span6 {
    width: 740px;
}
.span5 {
    width: 610px;
}
.span4 {
    width: 480px;
}
.span3 {
    width: 350px;
}
.span2 {
    width: 220px;
}
.span1 {
    width: 90px;
}
.offset8 {
    margin-left: 1080px;
}
.offset7 {
    margin-left: 950px;
}
.offset6 {
    margin-left: 820px;
}
.offset5 {
    margin-left: 690px;
}
.offset4 {
    margin-left: 560px;
}
.offset3 {
    margin-left: 430px;
}
.offset2 {
    margin-left: 300px;
}
.offset1 {
    margin-left: 170px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:after, .row-fluid:before {
    display: table;
    content: ""}
.row-fluid:after {
    clear: both;
}
.row-fluid [class*=span] {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564%;
    *margin-left: 2.5141025640000003%}
.row-fluid [class*=span]:first-child {
    margin-left: 0;
}
.row-fluid .span8 {
    width: 65.81196581200001%;
    *width: 65.76196581200001%}
.row-fluid .span7 {
    width: 57.264957265%;
    *width: 57.214957265%}
.row-fluid .span6 {
    width: 48.717948718%;
    *width: 48.667948718000005%}
.row-fluid .span5 {
    width: 40.170940171000005%;
    *width: 40.12094017100001%}
.row-fluid .span4 {
    width: 31.623931624%;
    *width: 31.573931624%}
.row-fluid .span3 {
    width: 23.076923077%;
    *width: 23.026923077%}
.row-fluid .span2 {
    width: 14.529914530000001%;
    *width: 14.47991453%}
.row-fluid .span1 {
    width: 5.982905983%;
    *width: 5.932905983%}
.uneditable-input, input, textarea {
    margin-left: 0;
}
.uneditable-input.span8, input.span8, textarea.span8 {
    width: 760px;
}
.uneditable-input.span7, input.span7, textarea.span7 {
    width: 660px;
}
.uneditable-input.span6, input.span6, textarea.span6 {
    width: 560px;
}
.uneditable-input.span5, input.span5, textarea.span5 {
    width: 460px;
}
.uneditable-input.span4, input.span4, textarea.span4 {
    width: 360px;
}
.uneditable-input.span3, input.span3, textarea.span3 {
    width: 260px;
}
.uneditable-input.span2, input.span2, textarea.span2 {
    width: 160px;
}
.uneditable-input.span1, input.span1, textarea.span1 {
    width: 60px;
}
.thumbnails {
    margin-left: -30px;
}
.thumbnails>li {
    margin-left: 30px;
}
.row-fluid .thumbnails {
    margin-left: 0;
}
}@media (max-width:979px) {
    body {
    padding-top: 0;
}
.navbar-fixed-top {
    position: static;
}
.navbar-fixed-top .navbar-inner {
    padding: 5px;
}
.navbar .container {
    width: auto;
    padding: 0;
}
.navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
}
.nav-collapse {
    clear: both;
}
.nav-collapse .nav {
    float: none;
    margin: 0 0 9px;
}
.nav-collapse .nav>li {
    float: none;
}
.nav-collapse .nav>li>a {
    margin-bottom: 2px;
}
.nav-collapse .nav>.divider-vertical {
    display: none;
}
.nav-collapse .nav .nav-header {
    color: #999;
    text-shadow: none;
}
.nav-collapse .dropdown-menu a, .nav-collapse .nav>li>a {
    padding: 6px 15px;
    font-weight: 700;
    color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav-collapse .btn {
    padding: 4px 10px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.nav-collapse .dropdown-menu li+li a {
    margin-bottom: 2px;
}
.nav-collapse .dropdown-menu a:hover, .nav-collapse .nav>li>a:hover {
    background-color: #222;
}
.nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0;
}
.nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: block;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.nav-collapse .dropdown-menu .divider, .nav-collapse .dropdown-menu:after, .nav-collapse .dropdown-menu:before {
    display: none;
}
.nav-collapse .navbar-form, .nav-collapse .navbar-search {
    float: none;
    padding: 9px 15px;
    margin: 9px 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
}
.nav-collapse, .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
}
.navbar .btn-navbar {
    display: block;
}
.navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
}
}

@media (min-width:980px) {
    .nav-collapse.collapse {
    height: auto!important;
    overflow: visible!important;
}
}

@-webkit-keyframes fadeUp {
    0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(30px) scale(.98);
}
70% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(30px) scale(.98);
}
100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0) scale(1);
}
}@-moz-keyframes fadeUp {
    0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transform: translateY(30px) scale(.98);
}
70% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transform: translateY(30px) scale(.98);
}
100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -moz-transform: translateY(0) scale(1);
}
}